<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UTF-8" />
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0" />
    <meta http-equiv=“X-UA-Compatible” content=“ie=edge” />
    <title>Document</title>
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <form action=“/” method=“POST” id=“form-click”>
      <input type=“text” name=“name” />
      <input type=“submit” />
    </form>
    <div id=“todolist”>
      <% if( method === “post”){ %>
        <% for(let i=0; i<rows.length; i++){ %>
          <div class=“todoItem”><%=rows[i].item%></div>
        <% } %>
      <% } %>
    </div>
  </body>
</html>