<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <form action="" method="POST" id="form" name="form">
      <input type="text" name="name" />
      <button type="submit" id="post-button">送信</button>
    </form>
    <div id="todolist"></div>
    <script>
      $(function() {
        $("#form").on("submit", function() {
          let post_data = document.form.name.value;
          document.form.name.value = "";
          $.ajax({
            url: "/api/v1/todoItem",
            type: "POST",
            data: post_data
          })
            .done(function(data) {
              $.ajax({
                url: "/api/v1/todoItems",
                type: "GET",
                dataType: "json"
              })
                .done(function(data) {
                  let receive_item = document.getElementById("todolist");

                  let div_element = document.createElement("div");
                  div_element.classList.add("todoItem");
                  div_element.textContent = data[data.length - 1].item;
                  receive_item.appendChild(div_element);

                  let input_element = document.createElement("input");
                  input_element.setAttribute("type", "button");
                  input_element.classList.add("delete_btn");
                  let child_num = (receive_item.childElementCount + 1) / 2;
                  input_element.setAttribute("id", child_num + "-delete");
                  input_element.setAttribute("value", "削除");
                  receive_item.appendChild(input_element);
                })
                .fail(function(data, status, error) {
                  console.log(error);
                });
            })
            .fail(function(data, status, error) {
              console.log(error);
            });
        });
        $(".delete_btn").on("click", function() {
          alert("clicked");
        });
      });
    </script>
  </body>
</html>
