<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <form action="" method="POST" id="form">
      <input type="text" name="name" />
      <button type="submit" id="post-button">送信</button>
    </form>
    <div id="todolist">
      <% if( method !== "get" ){ %> <% for (let row of rows) { %>
      <div class="todoItem" id="todoItem"><%- row.item %></div>
      <form method="POST" action="<%- row.id %>">
        <input type="submit" value="削除" />
        <input type="hidden" name="_method" value="delete" />
      </form>
      <form method="POST" action="<%- row.id %>">
        <input type="text" name="name" />
        <input type="submit" value="更新" />
        <input type="hidden" name="_method" value="put" />
      </form>
      <% } %> <% } %>
    </div>
    <script>
      $(function() {
        $("#form").on("submit", function() {
          $.ajax({
            url: "/api/v1/todoItem",
            type: "GET",
            dataType: "json"
          })
            .done(function(data) {
              console.log(data);
            })
            .fail(function(data, status, error) {
              console.log(error);
            });
        });
      });
    </script>
  </body>
</html>
