<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
  </head>
  <body>
    <h1>TO DO LIST</h1>
    <form action="" method="POST" id="form">
      <input type="text" name="name" />
      <button type="submit" id="post-button">送信</button>
    </form>
    <div id="todolist"></div>
    <script>
      $(function() {
        $("#form").on("submit", function() {
          $.ajax({
            url: "/api/v1/todoItem",
            type: "GET",
            dataType: "json"
          })
            .done(function(data) {
              console.log(data);
              let receive_item = document.getElementById("todolist");

              let new_element = document.createElement("div");
              new_element.classList.add("todoItem");
              new_element.setAttribute("id", "todoItem");

              if (data[data.length - 1]) {
                new_element.textContent = data[data.length - 1].item;
              } else {
                return;
              }

              receive_item.appendChild(new_element);
            })
            .fail(function(data, status, error) {
              console.log(error);
            });
        });
      });
    </script>
  </body>
</html>
